.header{
    height: 100px;
    background-color: rgb(9, 56, 74);
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    padding: 30px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
   
    
    
}
button{
 height: 70x;
 color: aliceblue;

}
.link{
    text-decoration: none;
    color: white;
}
.icon{
    display: flex;
    justify-content: flex-start;
    color: aliceblue;
}